.history-wrap .slick-dots {
  text-align: left;
  width: unset;
  position: static;
}
.history-wrap .history-dots {
  display: inline-block;
  margin-bottom: 20px;
}
.history-wrap .slick-dots li {
  display: inline-block;
  width: unset;
  height: unset;
  margin: 0;
}
.history-wrap .slick-dots li.slick-active a {
  background-color: var(--primary-color);
  color: white;
}
.history-wrap .slick-dots li a {
  padding: 8px 20px;
  display: inline-block;
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  border-bottom: 4px solid var(--primary-color);
  text-align: center;
}
.history-wrap .history-about .slick-prev,
.history-wrap .history-about .slick-next {
  display: none !important;
}
.experience {
  padding: 40px 0px;
  color: white;
  background:var(--primary-color) url(../img/banner/bg_leaf.png) no-repeat;
  background-size: cover;
}
.exp-item{
  justify-content: center;
  flex-direction: column;
}
.experience .row {
  --bs-gutter-y: 30px;
}
.exp-icon {
  font-size: 50px;
}
.exp-item .exp-info {
  margin-left: 10px;
  text-align: center;
}
.exp-info .exp-num {
  font: 700 30px/45px var(--title-font-family);
}
.exp-info .exp-name {
  font: 700 25px/30px var(--content-font-family);
}
.feedback{
  overflow-x: hidden;
}
.feedback .row{
  --bs-gutter-y: 30px;
}
.feedback-slide {
  position: relative;
  background-color: #fef7ef;
  padding: 60px 30px 30px 30px;
  border-radius: 10px;
  margin-top: 40px;
}
.feedback-slide::before {
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  content: "\f10d";
  font: 700 25px/60px "Font Awesome 5 Free";
  color: white;
  text-align: center;
  background-color: var(--primary-color);
}
.feedback-content{
  margin-bottom: 20px;
}
.feedback-user .user-img {
  height: 80px;
  width: 80px;
}
.feedback-user .user-img img {
  border-radius: 50%;
}
.feedback-user .user-info {
  margin-left: 10px;
  font-family: var(--title-font-family);
}
.feedback-user .user-info .user-name {
  font: 700 20px/30px var(--title-font-family);
}
.feedback-user .user-info .user-type {
  font: 400 14px/20px var(--title-font-family);
  color: #c4c4c4;
  text-transform: uppercase;
}
@media (min-width: 992px){
  .exp-info .exp-num{
    font-size: 45px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
 .exp-item{
   justify-content: flex-start;
 }
}
