.blog-list .blog-post{
    margin-bottom: 50px;
}
.content{
    margin-top: 100px;
}
a.more-btn:hover{
    color: var(--primary-color);
}
.pagination-container{
    display: flex;
    align-items: center;
}
.pagination-container  span {
	padding: 6px 12px;
}


