table.cart-table thead {
  color: white;
  background: var(--primary-color);
  display: none;
}
.cart-table tbody,
.cart-table td,
.cart-table tr {
  border: none;
}
table.cart-table thead,
table.cart-table td::before {
  font-family: var(--title-font-family);
  font-weight: 700;
}
table.cart-table tbody {
  display: block;
}
.coupon {
  flex-wrap: wrap;
  gap: 15px;
}
.cart-action .corner-add a{
  text-align: center;
}
.cart-action .corner-add,.cart-action .corner-add a {
  width: 100%;
}
table.cart-table tfoot {
  display: none;
}
.cart-table.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}
table.cart-table tbody tr {
  display: block;
  width: 100%;
  position: relative;
  box-shadow: 11px 10px 38px 0 rgb(46 63 99 / 15%);
  margin-bottom: 15px;
  padding: 10px 30px 10px;
  border-radius: 10px;
}
table.cart-table tbody tr td {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table.cart-table tbody tr td.close {
  position: absolute;
  top: 0px;
  right: 0px;
}

table.cart-table > :not(caption) > * > * {
  padding: 5px;
}
.cart-table tr th:first-child {
  padding-left: 0px;
}
.cart-table tbody tr td:not(:first-child):before {
  content: attr(data-title) ": ";
}
.cart-table tbody tr td:last-child::before {
  content: "";
}
td {
  font: 500 18px/27px var(--title-font-family);
  vertical-align: middle;
}
table tbody tr td.product-img {
  width: 105px;
}
td.product-name a,
.total-title {
  font: 600 20px/30px var(--title-font-family);
  color: #5c5c5c;
}
.total-title {
  color: var(--primary-color);
}
.td.cart-quanity {
  height: 100px;
}
td.cart-quanity div {
  height: 100%;
  position: relative;
}
.order-title {
  font: 600 24px var(--title-font-family);
}
.order table th {
  font: 600 20px var(--title-font-family);
}
.close-btn {
  font-size: 30px;
}
.close-btn:hover {
  color: var(--primary-color);
  transition: 0.3 ease all;
  cursor: pointer;
}
.coupon{
  display: flex;
}
.coupon *{
  width: 100%;
}
.coupon .input-text {
  border-radius: 3px;
  border: 1px solid #eae4e4;
  padding: 14px 20px;
  margin-right: 0px;
}
.cart-action .continue {
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.total-price {
  color: var(--secondary-color);
}
.order {
  border-radius: 5px;
  box-shadow: 0 8px 30px 0 rgb(0 0 0 / 12%);
  padding: 40px 30px;
  margin-top: 40px;
}
.order table {
  width: 100%;
}
.order table tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.order table tr td {
  color: var(--secondary-color);
}
.order-btn {
  margin-top: 6px;
}
.cart-action .row {
  --bs-gutter-y: 15px;
}
.coupon {
  justify-content: space-between;
}
.cart-table input.product-quanity{
  height: 50px;
}
@media (min-width: 768px) {
  table.cart-table > :not(caption) > * > * {
    padding: 15px;
  }
  table.cart-table thead {
    display: table-header-group;
  }
  table.cart-table tbody {
    display: table-row-group;
  }
  table.cart-table tfoot {
    display: table-footer-group;
  }
  table.cart-table td::before {
    display: none;
  }
  table.cart-table tbody tr {
    vertical-align: middle;
    display: table-row;
    box-shadow: none;
    border-radius: unset;
    margin: 0;
  }
  table.cart-table tbody tr td {
    display: table-cell;
    vertical-align: inherit;
  }
  .cart-table tbody,
  .cart-table td,
  .cart-table tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  .cart-table tr th:first-child {
    padding-left: 120px;
  }
  table.cart-table tbody tr td.close {
    position: relative;
  }
  .coupon {
    justify-content: normal;
    
  }
  .cart-table input.product-quanity{
    height: 70px;
  }
  table.cart-table tbody tr {
    margin-bottom: 35px;
  }
  .coupon *{
    max-width: 220px;
  }
  .coupon .input-text{
    margin-right: 20px;
  }
  .cart-action .corner-add,.cart-action .corner-add a {
    width: unset;
  }
}
