.cart-table thead{
    color: white;
    background: var(--primary-color);
}
table.cart-table>:not(caption)>*>*{
    padding: 15px;
}
.cart-table tr th:first-child{
    padding-left: 90px;
}
td{
    vertical-align: middle;
}
td.product img{
    height: 75px;
}
td{
    font: 500 18px/27px var(--title-font-family);
}
table tbody tr td.product-img{
    padding: 15px 0px;
    width: 75px;
}
td.product-name a, .total-title{
   font: 600 20px/30px var(--title-font-family);
   color: #5c5c5c;
}
.total-title{
    color: var(--primary-color);
}
td span.q-icon{
    height: calc(50% - 7.5px);
    right: calc(30% + 7.5px);
}
td span.q-des{
    bottom: 15px;
}
td span.q-inc{
    top: 15px;
}
td.quanity input{
    width: 70%;
}
.order-title{
    font: 600 24px var(--title-font-family) ;
}
.order table th{
    font: 600 20px var(--title-font-family);
}
.close-btn{
    font-size: 30px;
}
.close-btn:hover{
    color: var(--primary-color);
    transition: 0.3 ease all;
    cursor: pointer;
}
.coupon .input-text{
    border-radius: 3px;
    border: 1px solid  #eae4e4;
    padding: 14px 20px;
    margin-right: 20px;
}
.cart-action .continue{
    height: 100%;
}
.total-price{
    color: var(--secondary-color);
}
.order{
    border-radius: 5px;
    box-shadow: 0 8px 30px 0 rgb(0 0 0 / 12%);
    padding: 40px 30px;
    margin-top: 40px;
}
.order table{
    width: 100%;
}
.order table tr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.order table tr td{
    color: var(--secondary-color);
}
.order-btn{
    margin-top: 6px;
}