@media (min-width: 768px) {
    table.cart-table > :not(caption) > * > * {
      padding: 15px;
    }
    table.cart-table thead {
      display: table-header-group;
    }
    table.cart-table tbody {
      display: table-row-group;
    }
    table.cart-table tfoot {
      display: table-footer-group;
    }
    table.cart-table td::before {
      display: none;
    }
    table.cart-table tbody tr {
      vertical-align: middle;
      display: table-row;
      box-shadow: none;
      border-radius: unset;
      margin: 0;
    }
    table.cart-table tbody tr td {
      display: table-cell;
      vertical-align: inherit;
    }
    .cart-table tbody,
    .cart-table td,
    .cart-table tr {
      border-color: inherit;
      border-style: solid;
      border-width: 0;
    }
    .cart-table tr th:first-child {
      padding-left: 120px;
    }
    table.cart-table tbody tr td.close {
      position: relative;
    }
    .coupon {
      justify-content: normal;
      
    }
    .cart-table input.product-quanity{
      height: 70px;
    }
    table.cart-table tbody tr {
      margin-bottom: 35px;
    }
    .coupon *{
      max-width: 220px;
    }
    .coupon .input-text{
      margin-right: 20px;
    }
    .cart-action .corner-add,.cart-action .corner-add a {
      width: unset;
    }
  }