/* banner */
.sub-banner .more-btn{
  font-size: 9px;
  line-height: 17px;
}
.banner-slide {
    color: white;
  }
  .banner-slide a:hover {
    color: white;
  }
  .banner-slide .slick-slide {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .banner-slide .slide1 {
    background-image: url("../img/banner/slider-img-2.jpg");
  }
  .banner-slide .slide2 {
    background-image: url("../img/banner/slider-img-4.jpg");
  }
  .banner-slide .slide3 {
    background-image: url("../img/banner/slider-img-3.jpg");
  }
  .banner-slide .slick-next,
  .banner-slide .slick-prev {
    top: calc(50% - 33.5px);
    height: 67px;
    width: 67px;
  }
   .banner-slide .slick-prev:hover::before, .banner-slide .slick-next:hover::before{
    color: var(--primary-color);
  }
  .banner-slide .slick-next {
    right: 50px;
  }
  .banner-slide .slick-prev {
    left: 50px;
    z-index: 99;
  }
  .slide-content {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slick-current .slide-content h2 {
    animation: fadeInDown 0.3s ease-in both;
    animation-delay: 0.9s;
  }
  .slide-content h2{
    /* font: var(--title-font-weight) 3vw/6vw var(--add-font-family); */
    font-size: min(2.25vw, 22px);
    line-height: min(5vw, 44px);
    font-weight: var(--title-font-weight) ;
    font-family:var(--add-font-family) ;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .slide-content h1{
    /* font: var(--title-font-weight) 6vw/7.167vw var(--title-font-family); */
    font-size: min(9vw, 44px);
    font-weight: var(--title-font-weight) ;
    font-family:var(--title-font-family) ;
    line-height: min(10.6vw, 53px);
    text-align: center;
  }
  .slide-content p{
    /* font: 400 1.5vw/3vw var(--content-font-family); */
    font-size: min(2.25vw, 15px);
    line-height: min(5vw, 30px);
    margin-top: 2.5vw;
    margin-bottom: calc(16vw / 12);
    text-align: center;
    max-width: 85vw;
  }
  .slide-content{
    padding: calc(100vw / 12) 0px;
  }
  .slide-content .submitBtn{
    font-size: 2.25vw;
    line-height: 5vw;
    padding: calc(15vw / 12) calc(32vw / 12);
  }
  .slide-content .morph-element{
    transform: translateX(calc(-17vw / 12)) skewX(
      -45deg
      );
  }
  .slick-current .slide-content h1 {
    animation: fadeInDown 0.3s ease-in both;
    animation-delay: 0.3s;
  }
  .slick-current .slide-content p {
    animation: fadeInUp 0.3s ease-in both;
    animation-delay: 0.6s;
  }
  .slick-current .slide-content .corner-add {
    animation: fade 1s ease-in both;
    animation-delay: 1.2s;
  }
  .shop-now {
    position: relative;
    display: block;
    border: 2px solid var(--primary-color);
    padding: 17px 37px;
    border-radius: 3px;
    text-align: center;
    font: 700 16px/22px var(--content-font-family);
    color: white;
    overflow: hidden;
    transition: 1s all ease;
  }
 
  /*sub-banner */
  .sub-banner .row {
    --bs-gutter-y: 30px;
  }
  .sub-banner-item {
    padding: 89px 17px 17px 23px;
    text-align: right;
    background-size: cover;
  }
  .sub-banner-item-1 {
    background-image: url(../img/sub-banner/bg-img-2.jpg);
  }
  .sub-banner-item-2 {
    background-image: url(../img/sub-banner/bg-img-4.jpg);
  }
  .sub-banner-item-3 {
    background-image: url(../img/sub-banner/bg-img-3.jpg);
  }
  .sub-banner-item .sub-item-info .sub-info-title {
    margin-bottom: 1vw;
    color: #232323;
    font: 500 19px/29px var(--title-font-family)!important;
    word-break: break-word;
    transition: 0.4s;
    z-index: 1;
  }
  /* suggestion */
.suggestion-product .product-content {
    background-color: #fef7ef;
  }
  .suggestion-product .suggestion-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .suggestion-header .section-about {
    width: 60%;
    text-align: center;
  }
  /* partner */
.partner {
    background-color: var(--secondary-color);
  }
  .partner .slick-track {
    padding: 30px 0px;
    display: flex;
    align-items: center;
  }
  .partner .slick-next,
  .partner .slick-prev {
    visibility: hidden;
  }
  .partner .slick-slide {
    display: flex;
    justify-content: center;
  }
  .partner .slick-slide a {
    display: flex;
    overflow: hidden;
  }
  .hover-img {
    transform: translateY(-100%);
  }
  .main-img {
    transform: translateY(100%);
  }
/* best-product */
.product-slider {
  margin-top: 45px;
}
.product-slider .slick-track {
  display: flex;
}
.product-slider .product-item {
  padding: 0px 15px;
}
.product-slider .slick-next::before,
.product-slider .slick-prev::before {
  color: var(--primary-color);
}
.product-slider .slick-next,
.product-slider .slick-prev {
  z-index: 10;
} 
.product-slider .slick-list {
  overflow-y: visible;
  padding-bottom: 25px;
} 
  /* subcribe */
  .subcribe {
    background: url("../img/getintouch/our-team_form-bg.png") center;
  }
  .subcribe input{
    height: 50px;
  }
  .subcribe .social-list {
    font-size: 25px;
  }
  .subcribe a {
    color: var(--accent-color);
  }
  .subcribe-form {
    margin-bottom: 18px;
  }
  .subcribe div.corner-add {
    height: 50px;
    margin-left: 10px;
  }
  @media(min-width: 576px){
    .sub-banner .more-btn {
      font-size: 1.6vw;
      line-height: 3vw;
    }
    .sub-banner-item .sub-item-info .sub-info-title{
      font-size:  3.4vw!important;
      font-weight: 5.1vw!important;
    }
  }
  @media (min-width: 1200px) {
    div.content-left > .row > div:nth-child(2) > .content-item {
      margin-right: 40px;
    }
    div.content-right > .row > div:nth-child(2) > .content-item {
      margin-left: 40px;
    }
  }
  /* animation */
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 40%, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(40%, 0, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
  
  @media(min-width: 1200px){
    .slide-content h1 {
      font-size: 72px;
      line-height: 86px;
    }
    .slide-content h2 {
      font-size: 36px;
      line-height: 72px;
      font: 400 36px/72px var(--add-font-family);
    }
    .slide-content p {
      font-size: 18px;
      line-height: 36px;
      max-width: 65vw;
      margin-top: 30px;
    }
    .slide-content .submitBtn{
      font-size: 16px;
      line-height: 30px;
      padding: 13px 30px;
    }
  }

  @media(max-width: 768px){
    .banner-slide .slick-next,  .banner-slide .slick-prev{
      display: none!important;
    }
  }
 @media(min-width: 992px){
  .sub-banner-item .sub-item-info .sub-info-title{
     font: 500 34px/51px  var(--title-font-family)!important;
     margin-bottom: 1vw;
  }
  .sub-banner-item{
     padding: 155px 30px 30px 40px;
  }
  .more-btn {
    font: 700 16px/30px var(--title-font-family);
  }
 }