@media (min-width: 992px) {
    .slide-content h2 {
      font-size: min(4.5vw, 32px);
      line-height: min(9vw, 54px);
    }
    .slide-content h1 {
      font-size: min(9vw, 62px);
      line-height: min(10.6vw, 71px);
    }
  
    .sub-banner-item {
      padding: 155px 30px 30px 40px;
    }
    .more-btn {
      font: 700 16px/30px var(--title-font-family);
    }
    .suggestion-header .section-about {
      width: 60%;
      text-align: center;
    }
  }