.banner-slide .slick-dots {
  bottom: 2%;
}
.banner-slide .corner-add {
  margin-bottom: 20px;
}
.sub-banner .more-btn {
  font-size: 16px;
  line-height: 18px;
}
.banner-slide {
  color: white;
}
.banner-slide .slick-slide {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.banner-slide .slide1 {
  background-image: url("../img/banner/slider-img-2.jpg");
}
.banner-slide .slide2 {
  background-image: url("../img/banner/slider-img-4.jpg");
}
.banner-slide .slide3 {
  background-image: url("../img/banner/slider-img-3.jpg");
}
.slide-content {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slick-current .slide-content h2 {
  animation: fadeInDown 0.3s ease-in both;
  animation-delay: 0.9s;
}
.slide-content h2 {
  font-size: max(20px, min(4.5vw, 22px));
  line-height: max(30px, min(9vw, 44px));
  font-weight: var(--title-font-weight);
  font-family: var(--add-font-family);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.slide-content h1 {
  font-size: max(25px, min(9vw, 44px));
  font-weight: var(--title-font-weight);
  font-family: var(--title-font-family);
  line-height: max(29px, min(10.6vw, 53px));
  text-align: center;
}
.slide-content p {
  font-size: 16px;
  line-height: 30px;
  margin-top: 2.5vw;
  margin-bottom: calc(16vw / 12);
  text-align: center;
  max-width: 85vw;
}
.slide-content {
  padding: calc(100vw / 12) 0px;
}
.slide-content .submitBtn {
  font-size: 16px;
  padding: 18px 30px;
  padding: min(calc(25vw / 12), 18px) min(calc(34vw / 12), 30px);
}
.slide-content .morph-element {
  transform: translateX(min(-1.42vw, -10px)) skewX(-45deg);
}
.slick-current .slide-content h1 {
  animation: fadeInDown 0.3s ease-in both;
  animation-delay: 0.3s;
}
.slick-current .slide-content p {
  animation: fadeInUp 0.3s ease-in both;
  animation-delay: 0.6s;
}
.slick-current .slide-content .corner-add {
  animation: fade 1s ease-in both;
  animation-delay: 1.2s;
}
.sub-banner .row {
  --bs-gutter-y: 30px;
}
.sub-banner-item {
  padding: 89px 17px 17px 23px;
  text-align: right;
  background-size: cover;
}
.sub-banner-item-1 {
  background-image: url(../img/sub-banner/bg-img-2.jpg);
}
.sub-banner-item-2 {
  background-image: url(../img/sub-banner/bg-img-4.jpg);
}
.sub-banner-item-3 {
  background-image: url(../img/sub-banner/bg-img-3.jpg);
}
.sub-banner-item .sub-item-info .sub-info-title {
  margin-bottom: 1vw;
  color: #232323;
  font: 500 34px/51px var(--title-font-family) !important;
  word-break: break-word;
  transition: 0.4s;
  z-index: 1;
}
/* suggestion */
.suggestion-product .product-content {
  background-color: #fef7ef;
}
.suggestion-product .suggestion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partner {
  background-color: var(--secondary-color);
}
.partner img {
  max-width: 100%;
}
.partner .slick-track {
  padding: 30px 0px;
  display: flex;
  align-items: center;
}
.partner .slick-slide {
  display: flex !important;
  justify-content: center;
}
.partner .slick-slide a {
  display: flex;
  overflow: hidden;
}
.product-slider {
  margin-top: 45px;
}
.product-slider .slick-track {
  display: flex;
}
.product-slider .product-item {
  padding: 0px 15px;
}
.product-slider .slick-list {
  overflow-y: visible;
  padding-bottom: 25px;
}
.subcribe {
  background: url("../img/getintouch/our-team_form-bg.png") center;
  background-color: #fef7ef;
}
.subcribe input {
  height: 50px;
}
.subcribe-form {
  margin-bottom: 18px;
}
.subcribe div.corner-add {
  height: 50px;
  margin-left: 10px;
}
@media (min-width: 576px) {
  .banner-slide .slick-dots {
    bottom: 5%;
  }
  .banner-slide .corner-add {
    margin-bottom: 0px;
  }
  .slide-content h2 {
    font-size: min(4.5vw, 29px);
    line-height: min(9vw, 51px);
  }
  .slide-content h1 {
    font-size: min(9vw, 59px);
    line-height: min(10.6vw, 68px);
  }
}
@media (min-width: 992px) {
  .slide-content h2 {
    font-size: min(4.5vw, 32px);
    line-height: min(9vw, 54px);
  }
  .slide-content h1 {
    font-size: min(9vw, 62px);
    line-height: min(10.6vw, 71px);
  }

  .sub-banner-item {
    padding: 155px 30px 30px 40px;
  }
  .more-btn {
    font: 700 16px/30px var(--title-font-family);
  }
  .suggestion-header .section-about {
    width: 60%;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  div.content-left > .row > div:nth-child(2) > .content-item {
    margin-right: 40px;
  }
  div.content-right > .row > div:nth-child(2) > .content-item {
    margin-left: 40px;
  }
  .slide-content h1 {
    font-size: 72px;
    line-height: 86px;
  }
  .slide-content h2 {
    font-size: 36px;
    line-height: 72px;
    font: 400 36px/72px var(--add-font-family);
  }
  .slide-content p {
    font-size: 18px;
    line-height: 36px;
    max-width: 850px;
    margin-top: 30px;
  }
  .slide-content .submitBtn {
    font-size: 16px;
    padding: 18px 30px;
  }
  .slide-content .morph-element {
    transform: translateX(-17px) skewX(-45deg);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
