.banner-slide .slick-dots {
  bottom: 5%;
}
.banner-slide .corner-add {
  margin-bottom: 0px;
}
.slide-content h2 {
  font-size: min(4.5vw, 29px);
  line-height: min(9vw, 51px);
}
.slide-content h1 {
  font-size: min(9vw, 59px);
  line-height: min(10.6vw, 68px);
}
