.aside-title {
    font: 700 16px/30px var(--primary-font-family);
    margin-bottom: 23px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .slider-content-pl{
    padding-left: 30px;;
  }
  .aside-search-form input {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: 50px;
    padding: 8px 8px 8px 25px;
  }
  .aside-search-form button {
    width: 58px;
    background-color: var(--primary-color);
    color: white;
    border: none;
  }
  .categories {
    padding-top: 40px;
  }
  .categorie-list .cat-item a {
    color: var(--head-font-color);
    font-weight: 400;
  }
  .categorie-list .cat-item a::before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-right: 7px;
  }
  .categorie-list .cat-item:hover a {
    color: var(--primary-color);
  }
  .categorie-list .cat-item:hover a span {
    background-color: var(--primary-color);
    color: white;
  }
  .categorie-list .cat-item span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #f9f4ee;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
  }
.related-post-title{
    font: 600 16px/24px var(--title-font-family);
    color: #232323;;
}
.related-post-title:hover{
    color: var(--primary-color);
}
.related-post-item{
    margin-bottom: 30px;
}
.related-post-item img{
    margin-right: 25px;
}