.product-item .product-container {
  border-radius: 5px;
  position: relative;
  border: 3px solid transparent;
}
.product-content {
  padding: 20px 10px 25px 25px;
  border-radius: 0 0 5px 5px;
}
.product-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-title a {
  font-size: 22px;
  color: var(--head-font-color);
  font-weight: 600;
}
h1.product-title {
  font-family: var(--title-font-family);
}
.product-title a:hover {
  color: var(--primary-color);
}
.product-img {
  transition: inherit;
}
.product-img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.product-content {
  transition: 0.3s;
  transition-property: all 0.3s ease 0s;
}
.product-container:hover {
  border: 3px solid var(--primary-color);
}
.product-container:hover .basket-icon {
  display: inline-block;
}
.product-item {
  z-index: 2;
}
.product-item .basket-icon {
  display: none;
  position: absolute;
  bottom: -25px;
  right: 0;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  z-index: 5;
  cursor: pointer;
}
.product-item .basket-icon:hover {
  background-color: var(--secondary-color);
  color: #fff !important;
}
.original-price , .sale-price{
    font-family: var(--title-font-family);
    font-weight: 500;
}
.sale-price{
    color: var( --secondary-color);
}