.small-story .small-story-author-img {
  position: relative;
}
.img-layer-item:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
}
div.img-layer-item.fadeAn img {
  animation: fade 2s ease-in both;
  animation-delay: 1s;
}
div.img-layer-item.fadeUpAn img {
  animation: fadeInUp 0.5s ease-in both;
  animation-delay: 1.5s;
}
div.img-layer-item.fadeRightAn img {
  animation: fadeInRight 0.5s ease-in both;
  animation-delay: 2s;
}
