.about-farm .section-about {
    text-align: right;
  }
  .about-farm .content-left {
  background: url("../img/about-farm/bg1.png") no-repeat top left;
  background-size: auto;
}
.about-farm .content-right {
  background: url("../img/about-farm/bg2.png") no-repeat top right;
  background-size: auto;
}
.about-farm .content-left .row {
  justify-content: flex-end;
}
.content-item {
  width: 76%;
  max-width: 76%;
  align-items: baseline;
}
.content-item img {
  width: 64px;
}
.content-item h4 {
  font-size: 22px;
  color: var(--head-font-color);
  font-family: var(--title-font-family);
}