.categories {
  padding-top: 40px;
}
.main-shop .row{
   --bs-gutter-y: 30px;
}
.title {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: center;
}
.product-search-form input {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 50px;
}
.product-search-form button {
  width: 58px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0;
}
.select-field {
  width: 270px;
  margin-left: auto;
  margin-bottom: 40px;
}

.product-categories .cat-item a {
  color: var(--head-font-color);
  font-weight: 600;
}
.product-categories .cat-item a::before {
  display: inline-block;
  content: "";
  height: 5px;
  width: 5px;

  border-radius: 50%;
  background-color: var(--primary-color);

  margin-right: 7px;
}
.product-categories .cat-item:hover a {
  color: var(--primary-color);
}
.product-categories .cat-item:hover a span {
  background-color: var(--primary-color);
  color: white;
}
.product-categories .cat-item span {
  display: inline-block;
  height: 20px;
  width: 20px;

  background-color: #f9f4ee;

  line-height: 20px;
  text-align: center;
  font-size: 14px;

  margin-left: 5px;
}

.title img {
  height: 27px;
}
.price-filter {
  padding-top: 40px;
}
#slider-range {
  border: medium none;
  position: relative;
  color: #222;
  height: 3px;
  width: 98%;
  background-image: none;
  background-color: var(--secondary-color);
}
.ui-slider-range {
  background: var(--primary-color);

  top: 0;
  height: 100%;

  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
}
.ui-slider-handle {
  border-radius: 50%;
  background-color: var(--primary-color);

  display: inline-block;
  height: 12px;
  width: 12px;

  position: absolute;
  margin-left: 0;
  margin-top: -6px;
  top: 50%;

  background-image: none;
}
.ui-state-focus {
  outline: none;
}
.submit {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 70px;
  border: none;
  border-radius: 5px;
}
.product-catalog .row {
  --bs-gutter-y: 3em;
}
.product-catalog .row > div {
  opacity: 0;
  animation: fadeIn 1s ease-in both;
}
.product-item {
  background-color: #fef7ef;
}

a.page-link {
  border: none;
  color: var(--text-color);
}
.page-item.active a.page-link {
  background-color: unset;
  color: black;
  border-bottom: 3px solid var(--primary-color);
}
.price{
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 500;
}
/* product detail */

.product-info{
  margin-bottom: 30px;
}
.product-tabs{
  margin-top: 30px;
}
.product-image img{
  width: 100%;
  height: auto;
}
form.quanity-form{
  margin-bottom: 60px;
}
.quanity{
  position: relative;
  width: 100px;
  height: 51.6px;
  margin-right: 10px;
}
input.product-quanity{
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border: none;
  color: #9d6a32;
  background-color: #FEF7EF;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  outline: none;
}
span.q-icon{
  position: absolute;
  height: 50%;
    width: 25px;
    text-align: center;
    background-color: #f0dbc4;
    color: white;
}
span.q-inc{
  right: 0px;
  top: 0px;
  border-radius: 0px 6px 0px 0px;
}
span.q-des{
  right: 0px;
  bottom: 0px;
  border-radius: 0px 0px 6px 0px;
}
span.q-inc::before{
  content: '\f077';
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 700;
}
span.q-des::after{
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 700;
}
.product-info{
  margin-top: 30px;
}
.product-meta{
  margin-top: 30px;
}
.product-meta span{
  display: block;
}
ul.product-tabs{
  display: inline-block;
  position: relative;
}
.product-tabs li {
  display: inline-block;
}
.product-tabs::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 3px;
    height: 3px;
    width: auto;
    border: unset;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.product-tabs li a{
  padding: 8px 20px;
  display: inline-block;
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.product-tabs li a::before{
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  display: block;
  position: absolute;
  transform-origin: bottom center;
  transition: all .7s ease-in-out;
  z-index: -1;
  background-color: var(--primary-color);
}
.product-tabs a.active{
  background-color: var(--primary-color);
  color: white;
}
.nutrition-table{
  width: 100%;
}
.nutrition-table tr{
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
}
.nutrition-table th{
  display: flex;
  flex: 1 1 auto;
  align-items: baseline;
  width: auto;
  border: 0;
  padding: 10px 0 10px 40px;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
}
.nutrition-table th::after{
  content: '';
    flex: 1 1 auto;
    border-top: 1px solid #e1e1e1;
    margin-left: 30px;

}
@media(max-widTh:768px){
  ul.product-tabs{
    display: block;
    width: 100%;
  }
  .product-tabs li{
    display: block;
    width: 100%;
  }
  .product-tabs li a{
    display: block;
    padding: 8px 33px 10px;
  }
  .nutrition-table tr{
    width: 100%;
  }
}
@keyframes slide_top {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
