.categories {
  padding-top: 40px;
}
.title {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: center;
}
.product-search-form input {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 50px;
}
.product-search-form button {
  width: 58px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0;
}
.select-field {
  width: 270px;
  margin-left: auto;
  margin-bottom: 40px;
}

.product-categories .cat-item a {
  color: var(--head-font-color);
  font-weight: 600;
}
.product-categories .cat-item a::before {
  display: inline-block;
  content: "";
  height: 5px;
  width: 5px;

  border-radius: 50%;
  background-color: var(--primary-color);

  margin-right: 7px;
}
.product-categories .cat-item:hover a {
  color: var(--primary-color);
}
.product-categories .cat-item:hover a span {
  background-color: var(--primary-color);
  color: white;
}
.product-categories .cat-item span {
  display: inline-block;
  height: 20px;
  width: 20px;

  background-color: #f9f4ee;

  line-height: 20px;
  text-align: center;
  font-size: 14px;

  margin-left: 5px;
}

.title img {
  height: 27px;
}
.price-filter {
  padding-top: 40px;
}
#slider-range {
  border: medium none;
  position: relative;
  color: #222;
  height: 3px;
  width: 98%;
  background-image: none;
  background-color: var(--secondary-color);
}
.ui-slider-range {
  background: var(--primary-color);

  top: 0;
  height: 100%;

  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
}
.ui-slider-handle {
  border-radius: 50%;
  background-color: var(--primary-color);

  display: inline-block;
  height: 12px;
  width: 12px;

  position: absolute;
  margin-left: 0;
  margin-top: -6px;
  top: 50%;

  background-image: none;
}
.ui-state-focus {
  outline: none;
}
.submit {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 70px;
  border: none;
  border-radius: 5px;
}
.product-catalog .row {
  --bs-gutter-y: 3em;
}
.product-catalog .row > div {
  opacity: 0;
  animation: fadeIn 1s ease-in both;
}
.product-item {
  background-color: #fef7ef;
}
.product-content {
  padding: 20px 10px 25px 25px;
}
.product-item .product-title a {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 600;
  font-family: var(--title-font-family);
}
.product-title a:hover {
  color: var(--primary-color);
}
.original-price {
  color: var(--text-color);
}
.product-img {
  transition: inherit;
}
.product-img img {
  border-radius: 5px 5px 0 0;
}
.product-content {
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
a.page-link {
  border: none;
  color: var(--text-color);
}
.page-item.active a.page-link {
  background-color: unset;
  color: black;
  border-bottom: 3px solid var(--primary-color);
}
@keyframes slide_top {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
