:root {
  --primary-color: #f69946;
  --secondary-color: #96b416;
  --text-color: #4f555a;
  --accent-color: #f69946;
  --head-font-color: #232323;
  --title-font-family: "Livvic", sans-serif;
  --title-font-weight: 700;
  --content-font-family: "Nunito Sans", sans-serif;
  --content-font-weight: 400;
  --add-font-family: "Zen Loop", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: var(--content-font-family);
  font-weight: normal;
  color: var(--text-color);
  line-height: 30px;
}
body,
html {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
 h4.h4-title {
    font: 700 24px/36px  var(--title-font-family);
  }
 .header .container-fluid {
  padding: 0 !important;
}
ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
h1{
  margin-bottom: 0px!important;
}
li {
  list-style: none;
}
.slick-slide {
  height: auto;
}
h3,
h3 span,
h3 a {
  font-family: var(--title-font-family);
  font-size: 30px !important;
  font-weight: var(--title-font-weight) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
a {
  text-decoration: none !important;
  transition: 0.4 all;
}
a:hover {
  color: var(--primary-color);
}
.mt-80 {
  margin-top: 80px;
}
.mt-30 {
  margin-top: 30px;
}
.basket-icon {
  width: 50px;
  display: inline-block;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  line-height: 50px;
  text-align: center;
  position: relative;
  margin-right: 21px;
}
 .basket-icon .basket-amount {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  font-size: 14px;
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
}
.social-contact li {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  color: black;
}
.social-contact .contact-info {
  margin-left: 23px;
}
.social-contact .contact-info .info-title {
  font: 300 18px/30px var(--title-font-family);
}
.social-list li {
  display: inline-block;
  margin-right: 27px;
}
a.social-icon {
  color: white;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 2px solid var(--primary-color);
}
a.social-icon:hover {
  background-color: unset;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.form-contact {
  background-color: #fef7ef;
  padding: 34px 40px 40px 40px;
  border-radius: 20px;
}
.form-contact .row {
  --bs-gutter-y: 30px;
}
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}
a.page-link {
  border: none;
  color: var(--text-color);
}
.page-item.active a.page-link,
span[class="current"] {
  background-color: unset;
  color: black;
  border-bottom: 3px solid var(--primary-color);
}
.corner-add{
  display: inline-block;
  position: relative;
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-delay: 0.05s;
  overflow: hidden;
  border-radius: 3px;
  background-color: var(--primary-color);
  vertical-align: baseline;
}
div.corner-add input{
  height: 100%;
}
div.corner-add:hover input, div.corner-add:hover a{
  color: #fff;
}
.morph-element{
  background-color: #D97319;
  content: '';
  position: absolute;
  width: 150%;
  height: 100%;
  left: 100%;
  top: 0;
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: translateX(-17px) skewX(
-45deg
);
  transform-origin: bottom;
}
.corner-add:hover .morph-element{
  transform: translateX(calc(-100% - 17px)) skewX(
-45deg
);
color: white;
}
div.corner-add-noBg{
  background-color: unset;
  border: 2px solid var(--primary-color);
}
 .submitBtn, input.submitBtn {
    position: relative;
    display: block;
    height: auto;
    border-radius: 3px;
    padding: 13px 30px;
    font: 700 16px var(--title-font-family);
    color: #fff;
    background: transparent !important;
    z-index: 1;
    overflow: visible;
    float: left;
    transition: 0.3s;
} 
.more-btn {
  z-index: 1;
  font: 700 16px/30px var(--title-font-family); 
  color: #96b416;
  transition: 0.4s;
}
a.more-btn:hover {
  color: var(--primary-color);
}
.title {
  margin-bottom: 20px;
}
.sub-title {
  font: 600 26px/38px var(--content-font-family);
  color: var(--accent-color);
  margin-bottom: 8px;
}
.section-about {
  color: var(--text-color);
  font: 400 16px/30px  var(--content-font-family);
  text-align: justify;
}
.post-meta-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  text-transform: uppercase;
  color: #878b8e;
}
.post-date::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 10px 2px;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.banner {
  background: url("../img/banner/title-11.jpg")  center center  scroll;
  background-size: cover;
  padding: 40px 0px 40px 0px;
}
.devide {
  margin: 0px 10px;
}
.devide::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.page-header-title {
  color: #ffffff;
  font: 700 30px/42px  var(--title-font-family);
  margin-bottom: 25px;
}
.page-header-breadcumbs a,
.page-header-breadcumbs span {
  font: 700 14px/22px var(--content-font-family);
  text-transform: uppercase;
  color: #ffffff;
}
/* header */
.header .top-header {
  padding: 5px 0px;
  background-color: var(--primary-color);
  font-family: var(--content-font-family);
}
.top-header .header-contact li:not(:last-child) {
  border-right: 1px solid #fff;
}
.top-header li {
  display: inline-block;
  font-weight: 400;
}
.top-header li a {
  font-size: 14px;
  color: #fff;
  transition: all 300ms ease;
}
.top-header li:not(:last-child) {
  margin-right: 25px;
}
.top-header .header-contact li i {
  padding-right: 10px;
}
.lang-dropdown .lang-menu {
  top: calc(100% + 7px);
  border: 2px solid var(--primary-color);
}
.lang-dropdown .lang-menu li a {
  color: black;
}
.lang-dropdown .lang-icon {
  margin-right: 5px;
}
.user-account a, .user-account a:hover {
  border: none;
  background: none;
}
.user-modal .user-modal-content {
  padding: 50px;
}
.user-modal-content .model-title {
  text-transform: uppercase;
}
.user-modal-content .modal-body .btn {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
}
.user-modal button {
  position: absolute;
  right: 0;
  top: -30px;
}
.modal-body form a {
  color: #4f555a;
}
.modal-body .sign-up-form, .modal-body .recover-pass-form{
  display: none;
}
.modal-body .back-to-login {
  width: 100%;
  display: block;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #eaebec;
  text-align: center;
  font-size: 16px;
}
.dropdown-menu li{
  display: block;
  margin: 0!important;
}
.top-header a:hover {
  color: rgb(233, 232, 232);
}
/* main-menu */
.navbar-light button.navbar-toggler{
  border: none;
  max-width: 25%;
}
.navbar .navbar-brand{
  max-width: 50%;
}
.navbar .navbar-brand img{
  height: 67px;
}
.navbar a.icon{
  max-width: 25%;
}
button.navbar-toggler:focus{
 box-shadow: none;
}
.header {
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  background-color: #fff;
  box-shadow: 0px 23px 38px 0px rgb(0 0 0 / 10%);
  z-index: 99;
}
.main-menu .navbar{
  width: 100%;
}
.main-menu .navbar-nav li{
  margin-bottom: 12px;
}
.main-menu a.nav-link.active {
  color: var(--primary-color) !important;
}
.main-menu .navbar-collapse {
  justify-content: center !important;
}
.main-menu a:hover {
  color: var(--primary-color) !important;
}
.main-menu .navbar-collapse .navbar-nav .nav-link {
  padding: 0px 20px;
  font:var(--title-font-weight) 16px/20px var(--title-font-family);
  color: #5c5c5c;
}
.aside-search-form{
  padding: 0px 20px;
}
.aside-search-form input {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 40px;
  padding: 8px 8px 8px 25px;
}
.aside-search-form button {
  width: 58px;
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.icon {
  font-size: 25px;
  color: #5c5c5c;
}
.icon-nav li {
  display: inline-block;
}
.footer {
  background-image: url("../img/footer/image-bg.jpg");
  background-size: contain;
  padding: 100px 0px;
  color: white;
}
.footer .row {
  --bs-gutter-y: 45px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: var(--primary-color);
}
.footer .h4-title {
  margin-bottom: 30px;
}
.footer .footer-contact-list span {
  margin-left: 30px;
}
.footer ul li {
  margin-bottom: 8px;
}
@media(min-width: 768px){
  .sub-title{
    font-size: 30px;
    line-height: 42px;
  }
  h3,
h3 span,
h3 a{
  font-size: 36px!important;
}
}
@media (min-width: 992px) {
  .main-menu .navbar {
    max-width: 83.33%;
  }
  .main-menu .icon-nav {
    max-width: 16.67%;
  }
  .navbar a.navbar-brand img{
    height: 80px;
  }
  
}
@media (min-width: 1200px) {
  .banner{
    min-height: 400px;
  }
  .page-header-breadcumbs a, .page-header-breadcumbs span{
    font-size: 16px;
    line-height: 24px;
  }
  .page-header-title{
    font-size: 48px;
    line-height: 60px;
  }
  div.content-left > .row > div:nth-child(2) > .content-item {
    margin-right: 40px;
  }
  div.content-right > .row > div:nth-child(2) > .content-item {
    margin-left: 40px;
  }
}
