:root {
  --primary-color: #f69946;
  --secondary-color: #96b416;
  --text-color: #4f555a;
  --accent-color: #f69946;
  --head-font-color: #232323;
  --title-font-family: "Livvic", sans-serif;
  --title-font-weight: 700;
  --content-font-family: "Nunito Sans", sans-serif;
  --content-font-weight: 400;
  --add-font-family: "Zen Loop", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: var(--content-font-family);
  font-weight: normal;
  color: var(--text-color);
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.container-fluid {
  padding: 0 !important;
}
ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
li {
  list-style: none;
}
.slick-slide {
  height: auto;
}
h3,
h3 span,
h3 a {
  font-family: var(--title-font-family);
  font-size: 36px !important;
  font-weight: var(--title-font-weight)!important;
}
a {
  text-decoration: none !important;
  transition: 0.4 all;
}

.header .top-header {
  padding: 5px 0px;
  background-color: var(--primary-color);
  font-family: var(--content-font-family);
}
.top-header .header-contact li:not(:last-child) {
  border-right: 1px solid #fff;
}
.top-header li {
  display: inline-block;
  font-weight: 400;
}
.top-header li a {
  font-size: 14px;
  color: #fff;
  transition: all 300ms ease;
}

.top-header li:not(:last-child) {
  margin-right: 25px;
}
.top-header .header-contact li i {
  padding-right: 10px;
}
.lang-dropdown .lang-menu {
  top: calc(100% + 7px);
  border: 2px solid var(--primary-color);
}
.lang-dropdown .lang-menu li a {
  color: black;
}
.lang-dropdown .lang-icon {
  margin-right: 5px;
}
.user-account a {
  border: none;
  background: none;
}
.user-account a:hover {
  border: none;
  background: none;
}
.user-modal .user-modal-content {
  padding: 50px;
}
.user-modal-content .model-header {
  text-transform: uppercase;
}
.user-modal-content .modal-body .btn {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
}
.user-modal button {
  position: absolute;
  right: 0;
  top: -30px;
}
.modal-body form a {
  color: #4f555a;
}
.modal-body .sign-up-form {
  display: none;
}
.modal-body .recover-pass-form {
  display: none;
}
.modal-body .back-to-login {
  width: 100%;
  display: block;
  padding: 6px 12px;
  border-radius: 4px;

  background-color: #eaebec;
  text-align: center;
  font-size: 16px;
}
.top-header a:hover {
  color: rgb(233, 232, 232);
}
/* main-menu */
.header {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  background-color: #fff;
}

.main-menu .navbar-collapse {
  justify-content: center !important;
}
.main-menu a:hover {
  color: var(--primary-color) !important;
}
.main-menu .navbar-collapse .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: #5c5c5c;
}
.icon {
  font-size: 25px;
  color: #5c5c5c;
}
.icon-nav li {
  display: inline-block;
}

.basket-icon {
  width: 50px;
  display: inline-block;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);

  line-height: 50px;
  text-align: center;

  position: relative;
  margin-right: 21px;
}
.icon-nav .basket-icon .basket-amount {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  line-height: 15px;
  text-align: center;
  font-size: 14px;
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
}
/* banner */
.banner-slide {
  padding-top: 80px;
  color: white;
}
.banner-slide a:hover {
  color: white;
}
.banner-slide .slide1 {
  background-image: url("../img/banner/slider-img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-slide .slide2 {
  background-image: url("../img/banner/slider-img-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-slide .slide3 {
  background-image: url("../img/banner/slider-img-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-slide .slick-next,
.banner-slide .slick-prev {
  top: calc(50% + 68px);
}
.banner-slide .slick-next {
  right: 50px;
}
.banner-slide .slick-prev {
  left: 50px;
  z-index: 99;
}

.slide-content {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slick-current .slide-content h2 {
  animation: fadeInDown 0.5s ease-in both;
  animation-delay: 2s;
}

.slide-content h2 {
  font-family: var(--add-font-family);
  text-transform: uppercase;
  line-height: 72px;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 5px;
}
.slick-current .slide-content img {
  animation: fadeInDown 0.5s ease-in both;
  animation-delay: 2.5s;
}
.slide-content img {
  margin-bottom: 30px;
}
.slick-current .slide-content h1 {
  animation: fadeInDown 0.5s ease-in both;
  animation-delay: 1s;
}
.slide-content h1 {
  font-family: var(--title-font-family);
  text-align: center;
  line-height: 72px;
  letter-spacing: 0px;
  font-weight: var(--title-font-weight);
  font-size: 86px;
  margin-bottom: 30px;
}
.slick-current .slide-content p {
  animation: fadeInUp 0.5s ease-in both;
  animation-delay: 1.5s;
}
.slide-content p {
  font-family: var(--content-font-family);
  width: 770px;
  text-align: center;
  line-height: 36px;
  font-weight: var(--content-font-weight);
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 100%;
}
.slick-current .slide-content .shop-now {
  animation: fade 2s ease-in both;
  animation-delay: 3s;
}
.shop-now {
  position: relative;

  display: block;
  border: 2px solid var(--primary-color);
  padding: 17px 37px;
  border-radius: 3px;

  text-align: center;
  line-height: 22px;
  font-weight: 700;
  font-size: 16px;
  color: white;

  overflow: hidden;
  transition: 1s all ease;
}
.btn-bg-fill {
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  overflow: hidden;

  transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-delay: 0.2s;
  position: relative;

  border: unset;
  background-color: var(--primary-color);
  margin-left: 10px;
}
.btn-ef::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;

  width: 150%;
  height: 100%;

  transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: translateX(-17px) skewX(-45deg);
  transform-origin: bottom;

  background-color: #d97319;
}
.banner-slide .btn-ef::before {
  z-index: -1;
}
.btn-ef:hover::before {
  background-color: var(--primary-color);
  animation-play-state: running;
  transform: translateX(calc(-100% - 17px)) skewX(-45deg);
}
/*sub-banner */
.sub-banner {
  margin-top: 30px;
}
.sub-banner a:hover {
  color: var(--primary-color) !important;
}
.sub-banner .row {
  --bs-gutter-y: 30px;
}
.sub-banner-item {
  padding: 155px 30px 30px 40px;
  text-align: right;
}
.sub-banner-item-1 {
  background-image: url(../img/sub-banner/bg-img-2.jpg);
  background-size: cover;
}
.sub-banner-item-2 {
  background-image: url(../img/sub-banner/bg-img-4.jpg);
  background-size: cover;
}
.sub-banner-item-3 {
  background-image: url(../img/sub-banner/bg-img-3.jpg);
  background-size: cover;
}
.sub-banner-item .sub-item-info .sub-info-title {
  font-size: 34px;
  margin: 0px 0px 10px 0px;
  color: #232323;
  font-family: var(--title-font-family);
  font-weight: 600;
  line-height: 1.5;
  word-break: break-word;
  transition: 0.4s;
  z-index: 1;
}
.more-btn {
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  font-family: var(--title-font-family);
  color: #96b416;
  transition: 0.4s;
}
/* small story */
.small-story {
  margin-top: 100px;
}
.title {
  margin-bottom: 20px;
}
.sub-title {
  font-family: var(--add-font-family);
  color: var(--accent-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;

  margin-bottom: 8px;
}

.section-about {
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--content-font-family);
  line-height: 30px;
  text-align: justify;
}
.about-farm .section-about {
  text-align: right;
}
.small-story-content .author .img-signature img {
  max-width: 100%;
}
.small-story .small-story-author-img {
  position: relative;
}
.img-layer-item:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
}
div.img-layer-item.fadeAn img {
  animation: fade 2s ease-in both;
  animation-delay: 1s;
}
div.img-layer-item.fadeUpAn img {
  animation: fadeInUp 0.5s ease-in both;
  animation-delay: 1.5s;
}
div.img-layer-item.fadeRightAn img {
  animation: fadeInRight 0.5s ease-in both;
  animation-delay: 2s;
}
/* suggestion */
.suggestion-product {
  margin-top: 100px;
}
.suggestion-product .product-content {
  background-color: #fef7ef;
}
.suggestion-product .suggestion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.suggestion-header .section-about {
  width: 60%;
  text-align: center;
}
/* new */
.news {
  margin-top: 100px;
}
.h4-title a {
  color: var(--text-color);
}
.news a.more-btn:hover {
  color: var(--primary-color);
}
.news .h4-title a:hover {
  color: var(--primary-color);
}
.blog-post {
  transition: 0.3s;
  box-shadow: 2px 1px 1px 2px #f0f3f4;
}
.blog-post-content {
  position: relative;
  padding: 40px 40px 33px;
}
.blog-category {
  position: absolute;
  top: -17px;
}
.blog-category a {
  padding: 5px 10px;
  background-color: var(--primary-color);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-size: 300%;
  background-position: 0 0;
  transition: background-position 0.7s;
}
.blog-category a:hover {
  background-image: linear-gradient(
    135deg,
    #f69946 0%,
    #f69946 50%,
    #d97319 50%,
    #d97319 100%
  );
  background-position: 100% 100%;
  color: #ffffff;
  transition: 0.4s;
}
.post-meta-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  color: #878b8e;
}
.post-meta-wrap .post-date::after,
.page-header-breadcumbs .home::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 10px 2px;
  border-radius: 4px;
  background-color: var(--primary-color);
}
h4.h4-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--title-font-family);
}
.blog-post-content .blog-title:hover {
  color: #96b416;
}
.news-content .row {
  --bs-gutter-y: 30px;
}
@media (min-width: 1200px) {
  .main-menu .navbar {
    width: 80%;
  }
  .main-menu .icon-nav {
    width: 20%;
  }
  .banner-slide {
    padding-top: 136px;
  }
}
/* partner */
.partner {
  background-color: var(--secondary-color);
  margin-top: 140px;
}

.partner .slick-track {
  padding: 30px 0px;
  display: flex;
  align-items: center;
}
.partner .slick-next,
.partner .slick-prev {
  visibility: hidden;
}
.partner .slick-slide {
  display: flex;
  justify-content: center;
}
.partner .slick-slide a {
  display: flex;
  overflow: hidden;
}
.hover-img {
  transform: translateY(-100%);
}
.main-img {
  transform: translateY(100%);
}

/* best-product */
.product-slider {
  margin-top: 45px;
}
.product-slider .slick-track {
  display: flex;
}
.product-slider .product-item {
  padding-right: 15px;
  padding-left: 15px;
}
.product-slider .slick-next::before,
.product-slider .slick-prev::before {
  color: var(--primary-color);
}
.product-slider .slick-next,
.product-slider .slick-prev {
  z-index: 10;
}
.product-content {
  padding: 20px 10px 25px 25px;
}
.product-item .product-title a {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 600;
  font-family: var(--title-font-family);
}
.product-title a:hover {
  color: var(--primary-color);
}

.original-price {
  color: var(--text-color);
}
.real-price {
  color: var(--secondary-color);
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.product-img {
  transition: inherit;
}
.product-img img {
  border-radius: 5px 5px 0 0;
}
.product-content {
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.product-container:hover {
  border: 4px solid var(--primary-color);
}
.product-container:hover .basket-icon {
  display: inline-block;
}
.product-item {
  position: relative;
  overflow: visible;
  z-index: 2;
}
.product-slider .slick-list {
  overflow-y: visible;
  padding-bottom: 25px;
}
.product-item .basket-icon {
  display: none;
  position: absolute;
  bottom: -25px;
  right: 0px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  z-index: 5;
}
.product-item .basket-icon:hover {
  background-color: var(--secondary-color);
  color: #fff !important;
}
/* about farm */
.about-farm {
  margin-top: 100px;
}
.about-farm .content-left {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../img/about-farm/bg1.png");
}
.about-farm .content-right {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../img/about-farm/bg2.png");
}
.about-farm .content-left .row {
  justify-content: flex-end;
}
.content-item {
  width: 76%;
  max-width: 76%;
  align-items: baseline;
}
.content-item img {
  width: 64px;
}
.content-item h4 {
  font-size: 22px;
  color: var(--head-font-color);
  font-family: var(--title-font-family);
}
.content-left .content-item {
  margin-left: auto;
  text-align: right;
}
.content-right .content-item {
  margin-right: auto;
  text-align: left;
}
/* subcribe */
.subcribe {
  background-image: url("../img/getintouch/our-team_form-bg.png");
  margin-top: 100px;
  background-position: center;
}
.subcribe a {
  color: var(--accent-color);
}
.subcribe-form {
  margin-bottom: 18px;
}
.subcribe input, .subcribe div.btn-bg-fill {
  height: 50px;
}
#submit-btn {
  position: relative;

  display: inline-block;
  border-radius: 3px;

  outline: none;
  padding: 10px 26px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  font-family: var(--title-font-family);
  transition: 0.1s;
  color: #ffffff;
}

/* footer */
.footer {
  background-image: url("../img/footer/image-bg.jpg");
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  color: white;
}
.footer .row{
  --bs-gutter-y:45px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: var(--primary-color);
}
.footer .section-about {
  color: white;
  margin-top: 30px;
}
.footer .h4-title {
  margin-bottom: 30px;
}
.footer .footer-contact-list span {
  margin-left: 30px;
}
.footer ul li {
  margin-bottom: 8px;
}
.footer-social {
  margin-top: 30px;
}
.social-list li {
  display: inline-block;
  margin-right: 27px;
}
a.social-icon {
  color: white;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 2px solid var(--primary-color);
}
a.social-icon:hover{
  background-color: unset;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
/* page-banner on sub page */
.banner {
  background-image: url("../img/banner/title-11.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: #8e8b8b;
  min-height: 400px;
  margin-bottom: 40px;
  padding-top: 31px;
  padding-bottom: 40px;
  margin-top: 130px;
}
.page-header-title {
  color: #ffffff;
  font-size: 48px;
  line-height: 60px;
  font-family: var(--title-font-family);
  margin-bottom: 25px;
}
.page-header-breadcumbs a {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--content-font-family);
  color: #ffffff;
}
@media (min-width: 1200px){
  div.content-left >.row > div:nth-child(2) > .content-item{
    margin-right: 40px;
  } div.content-right >.row > div:nth-child(2) > .content-item{
    margin-left: 40px;
  }
}
/* animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
